<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Annotation Error!</title>
    <link rel="stylesheet" href="/static/bootstrap-3.4.1-dist/css/bootstrap.css">
</head>

<body>
<div class="modal-body" style="height: 100%; margin-bottom: 0px;">
    <div id="navbar"></div>

    <div class="page-header" style="width: 50%; margin: 70px auto;">
        <h1>Annotation Error!</h1>
        <p>Try against with correct files or paraments!!!</p>
    </div>
</div>

<div id="footer"></div>
<script src="/static/js/jquery-3.6.0.js"></script>
<script rel="stylesheet" src="/static/bootstrap-3.4.1-dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/js/loadNav&Footer.js"></script>

</body>
</html>