<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Contact</title>
    <link rel="stylesheet" href="/static/bootstrap-3.4.1-dist/css/bootstrap.css">
</head>

<body style="margin: 0px; height: 100%; text-align: center">
    <div id="navbar"></div>
    <div class="modal-body" style="width: 60%; text-align: center; display: inline-block; font-size: 17px">

        <header class="page-header" style="margin-top: 70px;">
            <h1>About Us</h1>
            <p>Laboratory of Bioinformatics & Genomic Medicine</p>
        </header>

        <ul style="list-style: none; padding: 0px">
            <li><b>Students: </b>Qi Peng, Xiangshang Lim, Jie Zhangm, Mingjun Ji, Xiaoge Liu,</li>
            <li>Ting Li , Chunfu Xiao, Jiaxin Wang, Juntian Qi, Lu Tian, Xinwei Xu</li>
            <li><b>CoPI/Post-Doc Researcher: </b>Dr. Ni N. An, Dr. Wanqiu Ding, Dr. Qing Yu</li>
            <li><b>PI:</b> Chuan-Yun Li</li>
        </ul>
        <img src="/static/images/CY_Lab_2022.jpg" alt="CY's Lab"  style="width: 80%">

        <div style="margin: 20px 20px">
            <p style= "text-align: justify">We focus on i) systems biology analyses to study the molecular mechanisms underlying MS and CVD in the framework of development, regulation and evolution;
                ii) refinements of genome annotations through meta-analyses and functional genomics analyses, facilitating better understanding of gene functions and MS/CVD mechanisms in well-established knowledge contexts; and
                iii) combing population genetics analyses (with-species) and comparative genomics analyses (between-species), performing molecular evolution studies to understand the primate-specific gene-behavior relationships,
                especially for evolutionary mechanisms for MS/CVD pathological behaviors.
            </p>
        </div>

        <div style="margin: 30px 30px">
            <span class="bold block"><b>Address:</b></span></br>
            Laboratory of Bioinformatics and Genomic Medicine<br/>
            College of Future Institute<br/>
            Lab Equipment Building 2, Room 315, Peking University<br/>
            Beijing, China
        </div>
    </div><!-- modal-body -->
    <div id="footer"></div>

    <script src="/static/js/jquery-3.6.0.js"></script>
    <script type="text/javascript" src="/static/js/loadNav&Footer.js"></script>
    <script src="/static/bootstrap-3.4.1-dist/js/bootstrap.min.js"></script>
</body>
</html>