<!DOCTYPE html>

<head xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <meta charset="UTF-8">
    <title>SpatialTrans of Brain</title>
    <link rel="stylesheet" href="/static/bootstrap-3.4.1-dist/css/bootstrap.css">
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="https://cdn.jsdelivr.net/npm/@bootcss/v3.bootcss.com@1.0.25/assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="/static/bootstrap-3.4.1-dist/css/cover.css" rel="stylesheet">
</head>

<body>
    <div class="modal-body">
        <div id="navbar"></div>
        <div class="cover-container" style="margin-top: 80px">
            <div class="inner cover" >
                </br></br>
                <h1 class="cover-heading">Spatial Transcriptome of Brain</h1>
                </br>
                <p class="lead">Cover is a one-page template for building simple and beautiful home pages. Download, edit the text, and add your own fullscreen background photo to make it your own.</p>
                <p class="lead">
                    <a href="#more" class="btn btn-lg btn-default">Know more</a>
                </p>
                </br></br>
            </div>
        </div>

        <div class="row" >
            <div class="col-xs-6 col-md-4">
                <a href="/annotation" class="thumbnail">
                    <img src="/static/images/placeholder.png" alt="...">
                    <div class="caption">
                        <h3>Spatial Annotation</h3>
                        <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                    </div>
                </a>
            </div>
            <div class="col-xs-6 col-md-4">
                <a href="/vitessce" class="thumbnail">
                    <img src="/static/images/placeholder.png" alt="...">
                    <div class="caption">
                        <h3>Test Vitessce</h3>
                        <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                    </div>
                </a>
            </div>
            <div class="col-xs-6 col-md-4">
                <a href="/slideseq" class="thumbnail">
                    <img src="/static/images/placeholder.png" alt="missing pic">
                    <div class="caption">
                        <h3>Test slideseq</h3>
                        <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                    </div>
                </a>
            </div>
        </div>
        <div id="more"></div>
        </br>
        </br>
        <h1>KNOW MORE</h1>
        </br>
        </br>

        <div class="jumbotron" style="color: #0d0d0d; border-radius: 25px">
            <div class="media-left">
                <a href="#">
                    <img class="media-object" style="width: 200px" src="/static/images/placeholder.png" alt="missing pic">
                </a>
            </div>
            <div class="media-body">
                <h3 class="media-heading  media-left">Spatial Transcriptome of Brain</h3>
                </br>
                <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
                    Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
            </div>
            </br>
            </br>
            <div class="media-left" >
                <a href="/annotation">
                    <img class="media-object" style="width: 200px" src="/static/images/placeholder.png" alt="missing pic">
                </a>
            </div>
            <div class="media-body">
                <h3 class="media-heading media-left">  Spatial Annotation Tool</h3>
                </br>
                <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
                    Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
            </div>
            </br>
            </br>
            <div class="media-left">
                <a href="/vitessce">
                    <img class="media-object" style="width: 200px" src="/static/images/placeholder.png" alt="missing pic">
                </a>
            </div>
            <div class="media-body">
                <h3 class="media-heading media-left">  Data and Browser</h3>
                </br>
                <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
                    Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
            </div>

        </div>
    </div><!--modal-boody-->
    <div id="footer"></div>
</body>

<script type="text/javascript" src="/static/js/jquery-3.6.0.js"></script>
<script type="text/javascript" src="/static/bootstrap-3.4.1-dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/js/loadNav&Footer.js"></script>

</html>