<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>slideseq of brain</title>
    <script src="/static/js/jquery-3.6.0.js"></script>
    <script src="/static/js/Highcharts-9.3.1/code/highcharts.js"></script>
    <script src="/static/js/Highcharts-9.3.1/code/modules/exporting.js"></script>
    <script src="/static/js/Highcharts-9.3.1/code/modules/boost.src.js"></script>
    <script src="/static/js/Highcharts-9.3.1/code/modules/boost-canvas.js"></script>
    <!--
    <script src="https://cdn.highcharts.com.cn/highcharts/highcharts.js"></script>
    <script src="https://cdn.highcharts.com.cn/highcharts/modules/exporting.js"></script>
    <script src="https://cdn.highcharts.com.cn/highcharts/modules/boost.js"></script>
    <script src="https://img.hcharts.cn/highcharts/modules/boost-canvas.js"></script>-->
</head>
<body>
<h1>Slideseq</h1>
<div id="container" style="width: 600px;height:600px;"></div>

 <script th:inline="javascript">
     let number = [[${number}]];
     let locations = eval([[${locations}]]);
     var data = [],
         n = number,
         i;
     for (i = 0; i < n; i += 1) {
         data.push([
             locations[i]["xcoord"],
             locations[i]["ycoord"]
         ]);
     }
     if (!Highcharts.Series.prototype.renderCanvas) {
         throw 'Module not loaded';
     }
     console.time('scatter');
     Highcharts.chart('container', {
         chart: {
             zoomType: 'xy',
             height: '100%'
         },
         boost: {
             useGPUTranslations: true,
             usePreAllocated: true
         },
         xAxis: {
             min: 0,
             max: 7000,
             gridLineWidth: 1
         },
         yAxis: {
             // Renders faster when we don't have to compute min and max
             min: 0,
             max: 7000,
             minPadding: 0,
             maxPadding: 0,
             title: {
                 text: null
             }
         },
         title: {
             text: 'Slideseq visualization for whole brain'
         },
         legend: {
             enabled: false
         },
         series: [{
             type: 'scatter',
             color: 'rgba(65,105,225,0.1)',
             data: data,
             marker: {
                 radius: 2
             },
             tooltip: {
                 followPointer: false,
                 pointFormat: '[{point.x:.1f}, {point.y:.1f}]'
             }
         }]
     });
     console.timeEnd('scatter');
 </script>
</body>
</html>