<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>slideseq of brain</title>
</head>
<body>
 <div id="container" style="width: 600px;height:400px;">

 </div>
 <button type="button" onclick="loadXMLDoc()">显示图片</button>

 <script type="text/javascript" src="/static/js/jquery-3.6.0.js"></script>
 <script src="/static/js/Highcharts-9.3.1/code/highcharts.js"></script>

 <script type="text/javascript">
     var options = {
         chart: {
             type: 'bar'                          //指定图表的类型，默认是折线图（line）
         },
         title: {
             text: '我的第一个图表'                 // 标题
         },
         xAxis: {
             categories: ['苹果', '香蕉', '橙子']   // x 轴分类
         },
         yAxis: {
             title: {
                 text: '吃水果个数'                // y 轴标题
             }
         },
         series: [{                              // 数据列
             name: '小明',                        // 数据列名
             data: [1, 0, 4]                     // 数据
         }, {
             name: '小红',
             data: [5, 7, 3]
         }]
     };
     // 图表初始化函数
     var chart = Highcharts.chart('container', options);
    /*
    $(document).ready(
        function() {
            $.ajax({
                type: "GET",
                url: "/slideseq",
                dataType: "json",

                contentType : "application/json",
                success: function (data) {
                    console.log(data)
                },
                error: function (e) {
                    console.log(e)
                }
            })
        })
     */
 </script>
</body>
</html>