<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>BGI of brain</title>
    <link rel="stylesheet" href="/static/bootstrap-3.4.1-dist/css/bootstrap.css">
</head>

<body>
    <div class="modal-body" style="height: 100%; margin-bottom: 0px; margin-left:15%; width: 70%;">
        <div id="navbar"></div>

        <div class="page-header" style="width: 50%; margin: 70px auto;">
            <h1>Spatial Annotation Request</h1>
        </div>
        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">Job Title:</div>
            <div class="panel-body">
                <p>This page will be automatically updated in 2 seconds until search is done;</br>
                    The time for annotation will be long, so we recommend you to keep the Request ID, by which
                    you can search the annotation result in your free time after the end of process.
                </p>
            </div>
            <!-- Table -->
            <table class="table">
                <tr>
                    <th>Request ID</th>
                    <th th:text="#{RequestID}"></th>
                </tr>
                <tr>
                    <td>Status</td>
                    <td>annotating</td>
                </tr>
                <tr>
                    <td>Time since submission</td>
                    <td>$100</td>
                </tr>
            </table>
        </div>
    </div><!-- modal-body -->
    <div id="footer"></div>

    <script src="/static/js/jquery-3.6.0.js"></script>
    <script type="text/javascript" src="/static/js/loadNav&Footer.js"></script>
    <script src="/static/bootstrap-3.4.1-dist/js/bootstrap.min.js"></script>
</body>
</html>