<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <ul class="nav navbar-nav">
      <li id="home" role="presentation"><a href="/home">Home</a></li>
      <li id="annotation" role="presentation"><a href="/annotation">Annotation</a></li>
      <li id="vitessce" role="presentation"><a href="/vitessce">Vitessce</a></li>
      <li id="slideseq" role="presentation"><a href="/slideseq">Slideseq</a></li>
      <li id="help" role="presentation"><a href="/help">Help</a></li>
      <li id="contact" role="presentation"><a href="/contact">Contact</a></li>
    </ul>
  </div>
</nav>